body{
font-family:"Muli";
margin: 0;
padding: 0;
width: 100%;
}
h1 {
font-family: "Muli";
font-weight: 100;
font-size: 55px;
text-align: center;
color: #333;
margin: 0;
padding: 0;
}
h2 {
font-family: "Muli";
font-weight: 100;
font-size: 40px;
text-align: center;
color: #333;
margin: 0;
padding: 0;
}
h3 {
font-family: "Muli";
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}
li {
 font-family: "Muli";
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px;}
.clear { clear: both; }

#header {
z-index: 1000;
width: 100%;
/*background: url('../img/header-bg.png');*/
background: rgba(255, 220, 212, .95);
border-top: 2px solid black;
border-bottom: 2px solid black;
height: 80px;
position: fixed;
margin-top: 30px;
}
#nav { width: 510px; float: right; margin-top: 20px; }
#logo a { text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #333; font-family:"Muli"; font-weight: bold; }
#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 9px;
float: left;
padding-left: 21px;
}
#nav li a { color: #333; opacity: 0.6; font-size: 16px; text-decoration: none; font-family: 'Muli'; }
#nav li a.active { color: #333; opacity:1; border-bottom: 2px solid #333; }
#nav li a:hover { color: #333; opacity:1; }

.quotes {
font-family: 'Muli', serif;
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}

 .author_name_white { font-family:"Muli"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; } 
 .author_name_gray { font-family:"Muli"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; } 
 .quotes_container { width: 800px; margin: 0 auto; }
#divider { background: url('../img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }

/*.layer {
 background-color: rgba(255, 255, 255, 0.5);
 height: 100%;
}*/

#slide1, #slide2{ width: 100%; }
#slide1{
background:url('../img/office.jpg') 50% / 0 no-repeat fixed;
/*background-color: rgba(255, 220, 212, 1);*/
color: #333;
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}

.icons {
 font-size: 30px;
 text-align: center;
}

.icons a:link {
    color: #333;
}

/* visited link */
.icons a:visited {
    color: #333;
}

/* mouse over link */
.icons a:hover {
    color: #333/*rgba(255, 220, 212, 1)*/;
}

#slide2{
background-color: #fff;
color: #333333;
height: 300px;
margin: 0 auto;
overflow: hidden;
padding: 200px 0;
}
#slide3{
/*background: url(../img/) 50% 0 no-repeat fixed;*/
background-color: rgba(255, 220, 212, 1);
color: #333;
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}
#slide4{
background-color: #fff;
color: #333333;
height: 300px;
padding: 200px 0;
}
#slide5{
/*background: url(../img/) 50% 0 no-repeat fixed;*/
background-color: rgba(255, 220, 212, 1);
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #333;
background-size: cover;
}

#copyright { color: #333; font-family:"Muli"; font-size: 14px; margin-top: 100px; text-align: center; }
#copyright a { text-decoration: none; color: #333; }
a:hover { color: #333; opacity:1; text-decoration: none;
 border-bottom: 2px solid #333;
}
